/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
This is a css reset.
The way a browser reads Html and Css is from top to bottom.
The web browser will read this css file from top to bottom.
Web browsers all have different default ways of displaying the html that you have written by
placing default margins among other things.

To ensure that you website is displayed the way that you want it to be across all browsers you
need to add css resets into your .css file or else include a CSS framework such as bootstrap.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My code starts here*/
/*Mobile*/
@media only screen and (min-width: 0px) {
  * {
    text-decoration: none;
    box-sizing: border-box;
  }

  html {
    font-size: 1px;
    background-size: contain;
    scroll-behavior: smooth;
    /* Changes the way scroll act when you click on a link */
    font-family: "Calibri";
  }

  body, main {
    font-size: 25rem;
  }

  /*Mobile*/
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 250px;
    grid-template-areas:
      "sidenav"
      "main";
  }

  .sidenav {
    position: relative;
    grid-area: sidenav;
    /*background: rgba(100, 100, 100, 0.20);*/
  }

  .sidenav nav {
    display: none;
  }

  .logo, a img {
    margin: auto;
    width: 300px;
  }

  .main {
    grid-area: main;
  }

  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
  }

  .hamburger {
    position: absolute;
    left: 80%;
    top: -54.5%;
    position: relative;
    display: block;
    width: 45px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .copyright {
    display: none;
  }

  .socialmedia {
    display: none;
  }
}

/*Desktop*/
@media only screen and (min-width: 700px) {
  * {
    text-decoration: none;
    box-sizing: border-box;
  }

  html {
    height: 0vh;
    background: none;
    scroll-behavior: smooth;
    /* Changes the way scroll act when you click on a link */
    font-size: 1px;
    font-family: "Calibri";
  }

  body {
    height: 0vh;
    max-width: 100%;
  }

  /*Side navigation*/
  .container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100%;
    grid-template-areas: "sidenav main";
  }

  .sidenav nav, .logo, .socialmedia, .copyright {
    display: block;
  }

  .logo {
    height: 180rem;
  }

  .logo img {
    margin-left: 10rem;
    width: 300px;
  }

  .hamburger {
    display: none;
  }

  .current {
    font-weight: bold;
  }

  .sidenav {
    width: 300px;
    height: 100%;
    position: fixed;
    grid-area: sidenav;
    background-color: white;
    /*background: rgba(100, 100, 100, 0.20);*/
    display: grid;
    align-items: center;
    z-index: 1;
  }

  .sidenav nav {
    margin: auto;
    display: inline-block;
  }

  .sidenav nav li {
    margin: 20rem 0rem;
  }

  .sidenav li a {
    color: #000;
    transition: color ease 0.60s;
    position: relative;
  }

  .sidenav a:visited {
    color: #000;
  }

  .sidenav a:hover {
    color: #949494;
  }

  .sidenav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.3s ease-in;
  }

  .sidenav nav a:hover::after {
    transform: scaleX(1);
    transform-origin: top;
  }

  .cakeshover {
    position: relative;
  }

  .droplink {
    cursor: default;
  }

  .dropdowncontent {
    visibility: hidden;
    transition: 0.2s 0.5s;
    /* delay of 1 seconds on hover off */
    position: absolute;
    top: 0px;
    left: 120px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 2;
  }

  .dropdowncontent li {
    margin: auto;
    padding: 10rem 15rem;
  }

  .cakeshover:hover .dropdowncontent {
    visibility: visible;
    transition-delay: 0s;
  }

  /*.cakeshover {
    width: 150px;
  }*/
  .socialmedia {
    margin-left: 90px;
    width: 135.65px;
    height: 30px;
  }

  .socialicons {
    width: 30px;
    height: 30px;
    margin: 5px;
    float: left;
  }

  .copyright {
    float: left;
    font-size: 20rem;
    margin: auto;
    text-align: center;
  }

  /*Overall style of content pages*/
  .contentposition {
    margin: 120rem 0 0 80rem;
  }

  .main .heading {
    font-size: 25rem;
    font-weight: bold;
    text-align: left;
  }

  hr.headinglinebreak {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  .headinglinebreak {
    width: 720rem;
    margin: 0 0 35rem 0;
  }

  /*Home*/
  .mainhome {
    margin: auto;
    grid-area: main;
  }

  .home {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: 50% 50%;
    grid-gap: 25rem;
    grid-template-areas:
      "abouttile weddingtile celebrationtile funeraltile"
      "corporatetile shoptile pricingtile contacttile";
  }

  .hometile {
    display: flex;
    justify-content: center;
    height: 370rem;
    width: 370rem;
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 25rem 25rem 25rem 25rem;
    position: relative;
  }

  .hometile a, a:visited {
    color: #000;
  }

  .abouttile {
    grid-area: abouttile;
    margin: auto;
  }

  .gradient-bg {
    display: inline-block;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  }

  .abouttile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered {
    font-size: 30rem;
    color: black;
  }

  .weddingtile {
    grid-area: weddingtile;
    margin: auto;
  }

  .weddingtile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .celebrationtile {
    grid-area: celebrationtile;
    margin: auto;
  }

  .celebrationtile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .funeraltile {
    grid-area: funeraltile;
    margin: auto;
  }

  .funeraltile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .corporatetile {
    grid-area: corporatetile;
    margin: auto;
  }

  .corporatetile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .shoptile {
    grid-area: shoptile;
    margin: auto;
  }

  .shoptile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .pricingtile {
    grid-area: pricingtile;
    margin: auto;
  }

  .pricingtile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  .contacttile {
    grid-area: contacttile;
    margin: auto;
  }

  .contacttile img {
    position: relative;
    display: block;
    height: 370rem;
    width: auto;
    z-index: -1;
  }

  /*About page*/
  .about {
    width: 900px;
  }

  .abouttext {
    text-align: left;
    max-width: 1000px;
    margin-top: 25rem;
  }

  .colouredvbar {
    color: #FFA500;
  }

  .ballyfinItalic {
    font-style: italic;
    color: #949494;
  }

  .smallSpace {
    font-size: 10rem;
  }

  /*Wedding and celebration gallery overall style*/
  #weddinggallery {
    margin: 0 auto;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0fr;
    align-items: center;
    grid-gap: 75rem;
  }

  #celebrationgallery {
    margin: 0 auto;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0fr;
    align-items: center;
    grid-gap: 75rem;
  }

  .gallery img, video {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .gallery figure, img, video {
    margin: auto;
  }

  .gallery figure figcaption {
    position: relative;
    top: 40rem;
    text-align: center;
  }

  .gallery figure .figcaptionhigher {
    position: relative;
    top: 0rem;
    text-align: center;
  }

  .gallery figure figcaption button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }

  .gallery figure figcaption button:visited {
    color: #000;
  }

  .gallery figure figcaption button:hover {
    color: #949494;
  }

  .gallery figure figcaption button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 77rem;
    width: 197rem;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.3s ease-in;
  }

  .gallery figure .figcaptionhigher button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20rem;
    width: 197rem;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.3s ease-in;
  }

  .gallery figure button:hover::after {
    transform: scaleX(1);
    transform-origin: top;
  }

  .gallery .horizontalmedia {
    width: 350rem;
    height: auto;
  }

  .gallery .verticalmedia {
    width: auto;
    height: 350rem;
  }

  .imageborder {
    display: flex;
    justify-content: center;
    width: 420rem;
    height: 420rem;
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 25rem 25rem 25rem 25rem;
  }

  .noimg {
    width: 350rem;
    height: 196.83rem;
    margin: auto;
  }

  /*Button Modal for more information*/
  .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }

  .popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    z-index: 2;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Calibri";
    padding: 50rem 60rem;
    line-height: 1.3;
  }

  .popup .popupheading {
    font-weight: bold;
    margin-bottom: 25rem;
  }

  .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }

  .popup.active .overlay {
    display: block;
  }

  .popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }

  .popupbutton {
    cursor: pointer;
  }

  /*Wedding page*/
  .weddingtext {
    text-align: left;
    width: 800rem;
    margin-bottom: 75rem;
  }

  .weddingcakes {
    width: 721.5rem;
    height: 50rem;
  }

  /*Celebration page*/
  .celebrationcakes {
    width: 721.5rem;
    height: 1800rem;
  }

  .celebrationtext {
    text-align: left;
    width: 900rem;
    margin-bottom: 75rem;
  }

  /*Flavours page*/
  .flavours {
    position: absolute;
    height: 100%;
    width: 1000rem;
  }

  span.italicFlavour {
    font-style: italic;
  }

  span.italicFlavourRight {
    font-style: italic;
    line-height: 40rem;
    margin-left: 80rem;
  }

  .flavourblock {
    height: 325rem;
    width: 1000rem;
  }

  .flavourblock img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    position: relative;
    border: 12rem solid white;
  }

  .flavourblock .verticalmedia {
    width: auto;
    height: 450rem;
  }

  .flavourblock .horizontalmedia {
    width: 450rem;
    height: auto;
  }

  #flavourblock1 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 400rem;
    top: 25rem;
    border: 12rem solid white;
    transform: rotate(-5deg);
  }

  #flavourblock1 .flavourstext {
    position: relative;
    width: 600rem;
    top: -225rem;
    left: 400rem;
  }

  #flavourblock2 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 350rem;
    left: 530rem;
    top: -60rem;
    border: 12rem solid white;
    transform: rotate(3deg);
  }

  #flavourblock2 .flavourstext {
    text-align: justify;
    position: relative;
    width: 415rem;
    top: -450rem;
    left: 110rem;
  }

  #flavourblock3 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 400rem;
    left: 0rem;
    top: -80rem;
    border: 12rem solid white;
    transform: rotate(-6deg);
  }

  #flavourblock3 .flavourstext {
    position: relative;
    width: 525rem;
    top: -350rem;
    left: 315rem;
  }

  #flavourblock4 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 400rem;
    left: 600rem;
    top: 0rem;
    border: 12rem solid white;
    transform: rotate(2.5deg);
  }

  #flavourblock4 .flavourstext {
    position: relative;
    width: 550rem;
    top: -200rem;
    left: 50rem;
  }

  #flavourblock5 {
    position: relative;
    left: 90rem;
    top: -100rem;
  }

  #flavourblock5 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 400rem;
    left: 0rem;
    top: 0rem;
    border: 12rem solid white;
    transform: rotate(-4.6deg);
  }

  #flavourblock5 .flavourstext {
    position: relative;
    width: 400rem;
    top: -300rem;
    left: 350rem;
  }

  #flavourblock6 {
    position: relative;
    left: 0rem;
    top: 0rem;
  }

  #flavourblock6 img {
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    max-width: 400rem;
    left: 650rem;
    top: 0rem;
    border: 12rem solid white;
    transform: rotate(6.2deg);
    margin-bottom: 150rem;
  }

  #flavourblock6 .flavourstext {
    position: relative;
    width: 600rem;
    top: -490rem;
    left: 50rem;
  }

  /*Pricing page*/
  .pricingtext {
    text-align: left;
    width: 800px;
    margin-top: 25rem;
  }

  .moneyRight {
    text-align: right;
  }

  .smallCent {
    font-size: 22.5rem;
  }

  .pricingtable {
    width: 800rem;
  }

  .pricingtable th {
    text-align: left;
  }

  /*Contact page*/
  .smallPhone {
    line-height: 60rem;
  }

  .contactheading h1 {
    text-align: left;
    font-weight: bold;
  }

  .contact {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-column-gap: 30rem;
    grid-template-areas:
      "form contact"
      "form map";
    font-size: 25rem;
    text-align: center;
  }

  #form {
    grid-area: form;
    margin: 120rem 0 0 80rem;
  }

  .contact .contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: contactform;
    text-align: left;
  }

  .formcontainer {
    width: 100%;
    max-width: 700rem;
    padding: 20rem;
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 10rem 10rem 10rem 10rem;
    margin-bottom: 20rem;
  }

  .requiredStar {
    color: red;
  }

  .form-group #name {
    max-width: 30%;
  }

  .form-group #email, #confirmEmail {
    max-width: 50%;
  }

  .form-group #mobileNumber, #landlineNumber {
    max-width: 30%;
  }

  .form-group {
    max-width: 100%;
    margin-top: 20rem;
    font-size: 20rem;
  }

  .form-group input, .form-group textarea {
    width: 100%;
    padding: 5rem;
    font-size: 18rem;
    border: 1rem solid #D4D4D4;
    margin-top: 5rem;
    background-color: #ECECEC;
    font-family: "Calibri";
  }

  .form-group textarea {
    resize: vertical;
  }

  .forminput {
    border-radius: 5rem;
  }

  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8rem;
    background-color: #ECECEC;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #D4D4D4;
  }

  #text {
    line-height: 30rem;
    grid-area: contact;
    text-align: left;
  }

  .contactTextBorder {
    width: 648rem;
    height: 235rem;
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 10rem 10rem 10rem 10rem;
    display: flex;
    margin-right: 0rem;
    margin: 180rem 0 0 0;
  }

  .contacttext {
    line-height: 25rem;
    margin: auto;
  }

  #map {
    grid-area: map;
    margin-top: 43rem;
    max-width: 82%;
    max-height: 70%;
    box-shadow: 5rem 5rem 20rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 10rem 10rem 10rem 10rem;
  }
}

/*Changing hero image size on desktop*/
@media only screen and (max-width: 1040px) {}
